@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #ffffff;
}

.page-container {
  margin: 5%;
  gap: 25px;
}

.page-container-order-details {
  margin: 5%;
  gap: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
}

.card-container-order-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card-with-image {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.open {
  border-radius: 10px;
  border-color: #FFCD1B;
  border-width: 2px;
  box-shadow: 0 0 4px 1px #FFCD1B,
  inset 0 0 3px 1px #FFCD1B;
}

.closed {
  border-radius: 10px;
  border-width: 3px;
  border-color: #CB204E;
  box-shadow: 0 0 5px 1px #CB204E,
  inset 0 0 3px 1px #CB204E;
};

.btn-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn-order-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.btn-red {
  border-radius: 10px;
  border-width: 2px;
  border-color: #CB204E;
  box-shadow: 0 0 4px 1px #CB204E,
  inset 0 0 3px 1px #CB204E;
}

.btn-yellow {
  border-radius: 10px;
  border-color: #FFCD1B;
  border-width: 2px;
  box-shadow: 0 0 4px 1px #FFCD1B,
  inset 0 0 3px 1px #FFCD1B;
}

.btn-blue {
  border-radius: 10px;
  border-color: #72E2FF;
  border-width: 2px;
  box-shadow: 0 0 4px 1px #72E2FF,
  inset 0 0 3px 1px #72E2FF;
}
